form {
  display: flex;
  flex-direction: column;
}

form h3 {
  text-align: center;
  margin-top: 0;
}
#ingredients-input{
  width: 16.1rem;
}

#checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
form div label{
  padding: 10px;
}

form input{
  margin: 5px 0;
  padding: 10px;
}

form textarea {
  margin: 10px 0;
  padding: 20px;
  resize: none;
  size: fill;
}

#ingredient-measurement-wrapper{
  display: flex;
}

button#ingredient-remove-form {
  margin-left: 76%;
}

form p {
  border: 1px solid rgb(65, 62, 62);
  border-radius: 5px;
  color: white;
  padding: 3px;
  margin: 1px 10px 5px 10px;
  background: rgb(87, 86, 86);
}