div#form{
  display: flex;
  flex-direction: column;
}

h3#form-header {
  text-align: center;
  margin-top: 0;
}
#ingredients-input{
  width: 16.1rem;
}


.form-input{
  margin: 5px 0;
  padding: 10px;
}

.ing-form-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

textarea {
  margin: 10px 0;
  padding: 20px;
  resize: none;
  size: fill;
}

#ingredient-measurement-wrapper{
  display: flex;
}

button#ingredient-remove-form {
  margin-right: 5px;
}

form p {
  color: rgba(19, 18, 18, 0.892);
  padding: 3px;
  margin: 1px 10px 5px 10px;
}

button#form-submit-btn{
    margin: 15px;
    padding: 6px;
}